# General
.DS_Store
.idea/
.vscode
*.log
tmp_image_*

# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.ipynb_checkpoints/

# Environments
.env
.venv
venv/

# Artifacts / assets
artifacts/
assets/
wandb/
wandb*
wandb_api.txt
privacy/

# Data
data/
*.npy

# Models
*.pth

# Docs and misc
*.pdf
*.pptx
overleaf.py
overleaf*
*_overleaf.png

# Project-specific
causal_data/
etc/
*.sh
copula/
sweep.*
latentspace.py
complexity.py
